:root {
  --background: #18181b;
  --foreground: #d4d4d8;
  --margin-x: 32px;
}

@media screen and (min-width: 480px) {
  :root {
    --margin-x: 64px;
  }
}

[data-theme="light"] {
  --background: #ffffff;
  --foreground: #27272a;
}
