@import "prism-theme-vars/base.css";

/* responsive */

:root {
  --mobile: 1;
  --desktop: 0;
}

@media screen and (min-width: 480px) {
  :root {
    --mobile: 0;
    --desktop: 1;
  }
}

/* color palette */

:root {
  --gray-50: #f7f8f8;
  --gray-100: #eff2f5;
  --gray-200: #d9dfe8;
  --gray-300: #b5bfcf;
  --gray-400: #8a98ad;
  --gray-500: #6c7793;
  --gray-600: #595f78;
  --gray-700: #45495e;
  --gray-800: #303141;
  --gray-900: #1c1e26;
  --gray-950: #16171d;
  --blue-50: #f6f9fb;
  --blue-100: #e1f1fd;
  --blue-200: #c0dbfa;
  --blue-300: #94b9f3;
  --blue-400: #6b92e9;
  --blue-500: #556de1;
  --blue-600: #4551d2;
  --blue-700: #363cb1;
  --blue-800: #252983;
  --blue-900: #151953;
  --blue-950: #0f123e;
  --purple-50: #fbfbfb;
  --purple-100: #f4effa;
  --purple-200: #e9d1f5;
  --purple-300: #d3a9e7;
  --purple-400: #c67cd7;
  --purple-500: #b158c8;
  --purple-600: #963cb1;
  --purple-700: #712d8b;
  --purple-800: #4f205f;
  --purple-900: #2d1435;
  --purple-950: #210e27;
  --red-50: #fdfcfa;
  --red-100: #fbf1eb;
  --red-200: #f8d1d6;
  --red-300: #eea4af;
  --red-400: #ea7384;
  --red-500: #dd4f60;
  --red-600: #c53543;
  --red-700: #9d2831;
  --red-800: #711b20;
  --red-900: #441112;
  --red-950: #330c0d;
  --lime-50: #f7f8f3;
  --lime-100: #eff0d8;
  --lime-200: #dae2ac;
  --lime-300: #afc376;
  --lime-400: #719e48;
  --lime-500: #538028;
  --lime-600: #43681b;
  --lime-700: #364f17;
  --lime-800: #253613;
  --lime-900: #19210f;
  --lime-950: #12180b;
  --green-50: #f5f7f3;
  --green-100: #e6f0e2;
  --green-200: #c5e5bf;
  --green-300: #8fc88c;
  --green-400: #49a65a;
  --green-500: #338a35;
  --green-600: #2a7325;
  --green-700: #24571f;
  --green-800: #1a3b19;
  --green-900: #122414;
  --green-950: #0d1a0f;
  --gold-50: #fbfaf5;
  --gold-100: #f9f0c3;
  --gold-200: #f3db8c;
  --gold-300: #e0b558;
  --gold-400: #c88a31;
  --gold-500: #ac691a;
  --gold-600: #8e5010;
  --gold-700: #6c3c0f;
  --gold-800: #4a290c;
  --gold-900: #311909;
  --gold-950: #241206;
  --pink-50: #fcfbfb;
  --pink-100: #f9f0f5;
  --pink-200: #f3d0eb;
  --pink-300: #e5a4d3;
  --pink-400: #df76b5;
  --pink-500: #cf519b;
  --pink-600: #b5377b;
  --pink-700: #8d295a;
  --pink-800: #641d3b;
  --pink-900: #3a1220;
  --pink-950: #2b0d17;

  --black: var(--gray-950);
  --white: var(--gray-50);
}

[data-theme="light"] {
  --gray-950: #f7f8f8;
  --gray-900: #eff2f5;
  --gray-800: #d9dfe8;
  --gray-700: #b5bfcf;
  --gray-600: #8a98ad;
  --gray-400: #595f78;
  --gray-300: #45495e;
  --gray-200: #303141;
  --gray-100: #1c1e26;
  --gray-50: #16171d;
  --blue-950: #f6f9fb;
  --blue-900: #e1f1fd;
  --blue-800: #c0dbfa;
  --blue-700: #94b9f3;
  --blue-600: #6b92e9;
  --blue-400: #4551d2;
  --blue-300: #363cb1;
  --blue-200: #252983;
  --blue-100: #151953;
  --blue-50: #0f123e;
  --purple-950: #fbfbfb;
  --purple-900: #f4effa;
  --purple-800: #e9d1f5;
  --purple-700: #d3a9e7;
  --purple-600: #c67cd7;
  --purple-400: #963cb1;
  --purple-300: #712d8b;
  --purple-200: #4f205f;
  --purple-100: #2d1435;
  --purple-50: #210e27;
  --red-950: #fdfcfa;
  --red-900: #fbf1eb;
  --red-800: #f8d1d6;
  --red-700: #eea4af;
  --red-600: #ea7384;
  --red-400: #c53543;
  --red-300: #9d2831;
  --red-200: #711b20;
  --red-100: #441112;
  --red-50: #330c0d;
  --lime-950: #f7f8f3;
  --lime-900: #eff0d8;
  --lime-800: #dae2ac;
  --lime-700: #afc376;
  --lime-600: #719e48;
  --lime-400: #43681b;
  --lime-300: #364f17;
  --lime-200: #253613;
  --lime-100: #19210f;
  --lime-50: #12180b;
  --green-950: #f5f7f3;
  --green-900: #e6f0e2;
  --green-800: #c5e5bf;
  --green-700: #8fc88c;
  --green-600: #49a65a;
  --green-400: #2a7325;
  --green-300: #24571f;
  --green-200: #1a3b19;
  --green-100: #122414;
  --green-50: #0d1a0f;
  --gold-950: #fbfaf5;
  --gold-900: #f9f0c3;
  --gold-800: #f3db8c;
  --gold-700: #e0b558;
  --gold-600: #c88a31;
  --gold-400: #8e5010;
  --gold-300: #6c3c0f;
  --gold-200: #4a290c;
  --gold-100: #311909;
  --gold-50: #241206;
  --pink-950: #fcfbfb;
  --pink-900: #f9f0f5;
  --pink-800: #f3d0eb;
  --pink-700: #e5a4d3;
  --pink-600: #df76b5;
  --pink-400: #b5377b;
  --pink-300: #8d295a;
  --pink-200: #641d3b;
  --pink-100: #3a1220;
  --pink-50: #2b0d17;
}

/* syntax highlighting */

:root {
  --prism-foreground: var(--white);
  --prism-background: var(--gray-950);

  --prism-comment: var(--gray-500);
  --prism-selector: var(--blue-50);
  --prism-class: var(--green-400);
  --prism-builtin: var(--green-300);
  --prism-property: var(--blue-300);
  --prism-keyword: var(--gold-400);
  --prism-punctuation: var(--blue-300);
  --prism-function: var(--purple-300);
  --prism-string: var(--blue-200);
  --prism-literal: var(--gold-200);

  /* TODO */
  --prism-namespace: red;
  --prism-deleted: red;
  --prism-regex: red;
}

/* layout */

html,
body {
  height: 100%;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
