@import "prism-theme-vars/base.css";

/* responsive */

:root {
  --mobile: 1;
  --desktop: 0;
}

@media screen and (min-width: 480px) {
  :root {
    --mobile: 0;
    --desktop: 1;
  }
}

/* color palette */

:root {
  --static-gray-50: #f7f8f8;
  --static-gray-100: #eff2f5;
  --static-gray-200: #d9dfe8;
  --static-gray-300: #b5bfcf;
  --static-gray-400: #8a98ad;
  --static-gray-500: #6c7793;
  --static-gray-600: #595f78;
  --static-gray-700: #45495e;
  --static-gray-800: #303141;
  --static-gray-900: #1c1e26;
  --static-gray-950: #16171d;
  --static-blue-50: #f6f9fb;
  --static-blue-100: #e1f1fd;
  --static-blue-200: #c0dbfa;
  --static-blue-300: #94b9f3;
  --static-blue-400: #6b92e9;
  --static-blue-500: #556de1;
  --static-blue-600: #4551d2;
  --static-blue-700: #363cb1;
  --static-blue-800: #252983;
  --static-blue-900: #151953;
  --static-blue-950: #0f123e;
  --static-purple-50: #fbfbfb;
  --static-purple-100: #f4effa;
  --static-purple-200: #e9d1f5;
  --static-purple-300: #d3a9e7;
  --static-purple-400: #c67cd7;
  --static-purple-500: #b158c8;
  --static-purple-600: #963cb1;
  --static-purple-700: #712d8b;
  --static-purple-800: #4f205f;
  --static-purple-900: #2d1435;
  --static-purple-950: #210e27;
  --static-red-50: #fdfcfa;
  --static-red-100: #fbf1eb;
  --static-red-200: #f8d1d6;
  --static-red-300: #eea4af;
  --static-red-400: #ea7384;
  --static-red-500: #dd4f60;
  --static-red-600: #c53543;
  --static-red-700: #9d2831;
  --static-red-800: #711b20;
  --static-red-900: #441112;
  --static-red-950: #330c0d;
  --static-lime-50: #f7f8f3;
  --static-lime-100: #eff0d8;
  --static-lime-200: #dae2ac;
  --static-lime-300: #afc376;
  --static-lime-400: #719e48;
  --static-lime-500: #538028;
  --static-lime-600: #43681b;
  --static-lime-700: #364f17;
  --static-lime-800: #253613;
  --static-lime-900: #19210f;
  --static-lime-950: #12180b;
  --static-green-50: #f5f7f3;
  --static-green-100: #e6f0e2;
  --static-green-200: #c5e5bf;
  --static-green-300: #8fc88c;
  --static-green-400: #49a65a;
  --static-green-500: #338a35;
  --static-green-600: #2a7325;
  --static-green-700: #24571f;
  --static-green-800: #1a3b19;
  --static-green-900: #122414;
  --static-green-950: #0d1a0f;
  --static-gold-50: #fbfaf5;
  --static-gold-100: #f9f0c3;
  --static-gold-200: #f3db8c;
  --static-gold-300: #e0b558;
  --static-gold-400: #c88a31;
  --static-gold-500: #ac691a;
  --static-gold-600: #8e5010;
  --static-gold-700: #6c3c0f;
  --static-gold-800: #4a290c;
  --static-gold-900: #311909;
  --static-gold-950: #241206;
  --static-pink-50: #fcfbfb;
  --static-pink-100: #f9f0f5;
  --static-pink-200: #f3d0eb;
  --static-pink-300: #e5a4d3;
  --static-pink-400: #df76b5;
  --static-pink-500: #cf519b;
  --static-pink-600: #b5377b;
  --static-pink-700: #8d295a;
  --static-pink-800: #641d3b;
  --static-pink-900: #3a1220;
  --static-pink-950: #2b0d17;

  --static-black: var(--static-gray-950);
  --static-white: var(--static-gray-50);

  --gray-50: var(--static-gray-50);
  --gray-100: var(--static-gray-100);
  --gray-200: var(--static-gray-200);
  --gray-300: var(--static-gray-300);
  --gray-400: var(--static-gray-400);
  --gray-500: var(--static-gray-500);
  --gray-600: var(--static-gray-600);
  --gray-700: var(--static-gray-700);
  --gray-800: var(--static-gray-800);
  --gray-900: var(--static-gray-900);
  --gray-950: var(--static-gray-950);
  --blue-50: var(--static-blue-50);
  --blue-100: var(--static-blue-100);
  --blue-200: var(--static-blue-200);
  --blue-300: var(--static-blue-300);
  --blue-400: var(--static-blue-400);
  --blue-500: var(--static-blue-500);
  --blue-600: var(--static-blue-600);
  --blue-700: var(--static-blue-700);
  --blue-800: var(--static-blue-800);
  --blue-900: var(--static-blue-900);
  --blue-950: var(--static-blue-950);
  --purple-50: var(--static-purple-50);
  --purple-100: var(--static-purple-100);
  --purple-200: var(--static-purple-200);
  --purple-300: var(--static-purple-300);
  --purple-400: var(--static-purple-400);
  --purple-500: var(--static-purple-500);
  --purple-600: var(--static-purple-600);
  --purple-700: var(--static-purple-700);
  --purple-800: var(--static-purple-800);
  --purple-900: var(--static-purple-900);
  --purple-950: var(--static-purple-950);
  --red-50: var(--static-red-50);
  --red-100: var(--static-red-100);
  --red-200: var(--static-red-200);
  --red-300: var(--static-red-300);
  --red-400: var(--static-red-400);
  --red-500: var(--static-red-500);
  --red-600: var(--static-red-600);
  --red-700: var(--static-red-700);
  --red-800: var(--static-red-800);
  --red-900: var(--static-red-900);
  --red-950: var(--static-red-950);
  --lime-50: var(--static-lime-50);
  --lime-100: var(--static-lime-100);
  --lime-200: var(--static-lime-200);
  --lime-300: var(--static-lime-300);
  --lime-400: var(--static-lime-400);
  --lime-500: var(--static-lime-500);
  --lime-600: var(--static-lime-600);
  --lime-700: var(--static-lime-700);
  --lime-800: var(--static-lime-800);
  --lime-900: var(--static-lime-900);
  --lime-950: var(--static-lime-950);
  --green-50: var(--static-green-50);
  --green-100: var(--static-green-100);
  --green-200: var(--static-green-200);
  --green-300: var(--static-green-300);
  --green-400: var(--static-green-400);
  --green-500: var(--static-green-500);
  --green-600: var(--static-green-600);
  --green-700: var(--static-green-700);
  --green-800: var(--static-green-800);
  --green-900: var(--static-green-900);
  --green-950: var(--static-green-950);
  --gold-50: var(--static-gold-50);
  --gold-100: var(--static-gold-100);
  --gold-200: var(--static-gold-200);
  --gold-300: var(--static-gold-300);
  --gold-400: var(--static-gold-400);
  --gold-500: var(--static-gold-500);
  --gold-600: var(--static-gold-600);
  --gold-700: var(--static-gold-700);
  --gold-800: var(--static-gold-800);
  --gold-900: var(--static-gold-900);
  --gold-950: var(--static-gold-950);
  --pink-50: var(--static-pink-50);
  --pink-100: var(--static-pink-100);
  --pink-200: var(--static-pink-200);
  --pink-300: var(--static-pink-300);
  --pink-400: var(--static-pink-400);
  --pink-500: var(--static-pink-500);
  --pink-600: var(--static-pink-600);
  --pink-700: var(--static-pink-700);
  --pink-800: var(--static-pink-800);
  --pink-900: var(--static-pink-900);
  --pink-950: var(--static-pink-950);

  --black: var(--static-black);
  --white: var(--static-white);
}

[data-theme="light"] {
  --gray-50: var(--static-gray-950);
  --gray-100: var(--static-gray-900);
  --gray-200: var(--static-gray-800);
  --gray-300: var(--static-gray-700);
  --gray-400: var(--static-gray-600);
  --gray-500: var(--static-gray-500);
  --gray-600: var(--static-gray-400);
  --gray-700: var(--static-gray-300);
  --gray-800: var(--static-gray-200);
  --gray-900: var(--static-gray-100);
  --gray-950: var(--static-gray-50);
  --blue-50: var(--static-blue-950);
  --blue-100: var(--static-blue-900);
  --blue-200: var(--static-blue-800);
  --blue-300: var(--static-blue-700);
  --blue-400: var(--static-blue-600);
  --blue-500: var(--static-blue-500);
  --blue-600: var(--static-blue-400);
  --blue-700: var(--static-blue-300);
  --blue-800: var(--static-blue-200);
  --blue-900: var(--static-blue-100);
  --blue-950: var(--static-blue-50);
  --purple-50: var(--static-purple-950);
  --purple-100: var(--static-purple-900);
  --purple-200: var(--static-purple-800);
  --purple-300: var(--static-purple-700);
  --purple-400: var(--static-purple-600);
  --purple-500: var(--static-purple-500);
  --purple-600: var(--static-purple-400);
  --purple-700: var(--static-purple-300);
  --purple-800: var(--static-purple-200);
  --purple-900: var(--static-purple-100);
  --purple-950: var(--static-purple-50);
  --red-50: var(--static-red-950);
  --red-100: var(--static-red-900);
  --red-200: var(--static-red-800);
  --red-300: var(--static-red-700);
  --red-400: var(--static-red-600);
  --red-500: var(--static-red-500);
  --red-600: var(--static-red-400);
  --red-700: var(--static-red-300);
  --red-800: var(--static-red-200);
  --red-900: var(--static-red-100);
  --red-950: var(--static-red-50);
  --lime-50: var(--static-lime-950);
  --lime-100: var(--static-lime-900);
  --lime-200: var(--static-lime-800);
  --lime-300: var(--static-lime-700);
  --lime-400: var(--static-lime-600);
  --lime-500: var(--static-lime-500);
  --lime-600: var(--static-lime-400);
  --lime-700: var(--static-lime-300);
  --lime-800: var(--static-lime-200);
  --lime-900: var(--static-lime-100);
  --lime-950: var(--static-lime-50);
  --green-50: var(--static-green-950);
  --green-100: var(--static-green-900);
  --green-200: var(--static-green-800);
  --green-300: var(--static-green-700);
  --green-400: var(--static-green-600);
  --green-500: var(--static-green-500);
  --green-600: var(--static-green-400);
  --green-700: var(--static-green-300);
  --green-800: var(--static-green-200);
  --green-900: var(--static-green-100);
  --green-950: var(--static-green-50);
  --gold-50: var(--static-gold-950);
  --gold-100: var(--static-gold-900);
  --gold-200: var(--static-gold-800);
  --gold-300: var(--static-gold-700);
  --gold-400: var(--static-gold-600);
  --gold-500: var(--static-gold-500);
  --gold-600: var(--static-gold-400);
  --gold-700: var(--static-gold-300);
  --gold-800: var(--static-gold-200);
  --gold-900: var(--static-gold-100);
  --gold-950: var(--static-gold-50);
  --pink-50: var(--static-pink-950);
  --pink-100: var(--static-pink-900);
  --pink-200: var(--static-pink-800);
  --pink-300: var(--static-pink-700);
  --pink-400: var(--static-pink-600);
  --pink-500: var(--static-pink-500);
  --pink-600: var(--static-pink-400);
  --pink-700: var(--static-pink-300);
  --pink-800: var(--static-pink-200);
  --pink-900: var(--static-pink-100);
  --pink-950: var(--static-pink-50);

  --black: var(--static-white);
  --white: var(--static-black);
}

/* syntax highlighting */

:root {
  --prism-foreground: var(--white);
  --prism-background: var(--gray-950);

  --prism-comment: var(--gray-500);
  --prism-selector: var(--blue-50);
  --prism-class: var(--green-400);
  --prism-builtin: var(--green-300);
  --prism-property: var(--blue-300);
  --prism-keyword: var(--gold-400);
  --prism-punctuation: var(--blue-300);
  --prism-function: var(--purple-300);
  --prism-string: var(--blue-200);
  --prism-literal: var(--gold-200);

  /* TODO */
  --prism-namespace: red;
  --prism-deleted: red;
  --prism-regex: red;
}

/* layout */

html,
body {
  height: 100%;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* utilities */

@keyframes active {
}
@keyframes not-active {
}
.detect-active:active {
  animation: active 0 linear;
}

.detect-active:not(:active) {
  animation: not-active 0 linear;
}

/* markdown */

.md-heading__anchor {
  float: left;
  margin-left: -28px;
  padding-right: 8px;
  color: currentColor;
}

.md-heading__anchor-icon {
  visibility: hidden;
  width: 20px;
}

.md-heading:hover .md-heading__anchor-icon {
  visibility: visible;
}
